In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [3]:
# Create DataFrames
industry_unemployment_2022_df = pd.read_excel('Resources/CPS2022_industry_unemployment.xlsx', skiprows = [0,1,2])
industry_unemployment_2021_df = pd.read_excel('Resources/CPS2021_industry_unemployment.xlsx', skiprows = [0,1,2])
industry_unemployment_2020_df = pd.read_excel('Resources/CPS2020_industry_unemployment.xlsx', skiprows = [0,1,2])
industry_unemployment_2019_df = pd.read_excel('Resources/CPS2019_industry_unemployment.xlsx', skiprows = [0,1,2])
industry_unemployment_2018_df = pd.read_excel('Resources/CPS2018_industry_unemployment.xlsx', skiprows = [0,1,2])
industry_unemployment_2022_df.head(10)

,Occupation and industry,2022,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Unemployed,NaN,NaN,NaN,NaN,NaN,Weeks,NaN
1,NaN,Total,Less\nthan\n5 weeks,5 to 14\nweeks,15 weeks and over,NaN,NaN,Average\n(mean)\nduration,Median\nduration
2,NaN,NaN,NaN,NaN,Total,15 to 26\nweeks,27 weeks\nand over,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total unemployed(1),5996,2216,1711,2070,756,1314,22.6,8.7
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,No previous work experience,482,183,148,150,53,98,22.6,8.3
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,OCCUPATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Management, professional, and related occupations",1355,473,402,481,170,310,24.2,9

In [3]:
industry_unemployment_2022_df.columns

Index(['Occupation and industry',                      2022,
                    'Unnamed: 2',              'Unnamed: 3',
                    'Unnamed: 4',              'Unnamed: 5',
                    'Unnamed: 6',              'Unnamed: 7',
                    'Unnamed: 8'],
      dtype='object')

In [4]:
industry_unemployment_2022_df.rename(columns = {2022: "total_unemployed",
                                                'Unnamed: 2': "less_than_five_wks",
                                                "Unnamed: 3": "five_to_forteen_wks",
                                                "Unnamed: 4": "total_fifteen_wks_and_over",
                                                "Unnamed: 5": "fifteen_to_twenty_six_wks",
                                                "Unnamed: 6": "twenty_seven_wks_and_over",
                                                "Unnamed: 7": "avg_duration_wks",
                                                "Unnamed: 8": "median_duration_wks"}, inplace=True)
industry_unemployment_2021_df.rename(columns = {2021: "total_unemployed",
                                                'Unnamed: 2': "less_than_five_wks",
                                                "Unnamed: 3": "five_to_forteen_wks",
                                                "Unnamed: 4": "total_fifteen_wks_and_over",
                                                "Unnamed: 5": "fifteen_to_twenty_six_wks",
                                                "Unnamed: 6": "twenty_seven_wks_and_over",
                                                "Unnamed: 7": "avg_duration_wks",
                                                "Unnamed: 8": "median_duration_wks"}, inplace=True)
industry_unemployment_2020_df.rename(columns = {2020: "total_unemployed",
                                                'Unnamed: 2': "less_than_five_wks",
                                                "Unnamed: 3": "five_to_forteen_wks",
                                                "Unnamed: 4": "total_fifteen_wks_and_over",
                                                "Unnamed: 5": "fifteen_to_twenty_six_wks",
                                                "Unnamed: 6": "twenty_seven_wks_and_over",
                                                "Unnamed: 7": "avg_duration_wks",
                                                "Unnamed: 8": "median_duration_wks"}, inplace=True)
industry_unemployment_2019_df.rename(columns = {2019: "total_unemployed",
                                                'Unnamed: 2': "less_than_five_wks",
                                                "Unnamed: 3": "five_to_forteen_wks",
                                                "Unnamed: 4": "total_fifteen_wks_and_over",
                                                "Unnamed: 5": "fifteen_to_twenty_six_wks",
                                                "Unnamed: 6": "twenty_seven_wks_and_over",
                                                "Unnamed: 7": "avg_duration_wks",
                                                "Unnamed: 8": "median_duration_wks"}, inplace=True)
industry_unemployment_2018_df.rename(columns = {2018: "total_unemployed",
                                                'Unnamed: 2': "less_than_five_wks",
                                                "Unnamed: 3": "five_to_forteen_wks",
                                                "Unnamed: 4": "total_fifteen_wks_and_over",
                                                "Unnamed: 5": "fifteen_to_twenty_six_wks",
                                                "Unnamed: 6": "twenty_seven_wks_and_over",
                                                "Unnamed: 7": "avg_duration_wks",
                                                "Unnamed: 8": "median_duration_wks"}, inplace=True)
industry_unemployment_2021_df.head()

,Occupation and industry,total_unemployed,less_than_five_wks,five_to_forteen_wks,total_fifteen_wks_and_over,fifteen_to_twenty_six_wks,twenty_seven_wks_and_over,avg_duration_wks,median_duration_wks
0,NaN,Unemployed,NaN,NaN,NaN,NaN,NaN,Weeks,NaN
1,NaN,Total,Less\nthan\n5 weeks,5 to 14\nweeks,15 weeks and over,NaN,NaN,Average\n(mean)\nduration,Median\nduration
2,NaN,NaN,NaN,NaN,Total,15 to 26\nweeks,27 weeks\nand over,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total unemployed(1),8623,2140,1981,4501,1164,3337,28.7,16.5

In [5]:
industry_2022_df = industry_unemployment_2022_df.dropna()
industry_2021_df = industry_unemployment_2021_df.dropna()
industry_2020_df = industry_unemployment_2020_df.dropna()
industry_2019_df = industry_unemployment_2019_df.dropna()
industry_2018_df = industry_unemployment_2018_df.dropna()
industry_2020_df

,Occupation and industry,total_unemployed,less_than_five_wks,five_to_forteen_wks,total_fifteen_wks_and_over,fifteen_to_twenty_six_wks,twenty_seven_wks_and_over,avg_duration_wks,median_duration_wks
4,Total unemployed(1),12947,3708,4728,4511,2516,1995,16.5,9.7
6,No previous work experience,526,161,166,198,80,118,24.2,10.2
9,"Management, professional, and related occupations",3029,837,1098,1094,602,493,17.1,10
10,"Management, business, and financial operations...",1149,312,377,460,244,216,18.1,10.9
11,Professional and related occupations,1880,525,720,634,357,277,16.5,9.6
12,Service occupations,3407,932,1292,1183,690,493,15.4,9.8
13,Sales and office occupations,2591,755,948,889,498,391,16.3,9.6
14,Sales and related occupations,1367,399,504,465,257,208,15.8,9.6
15,Office and administrative support occupations,1224,356,445,424,241,183,16.9,9.7
16,"Natural resources, construction, and maintenan...",1298,415,456,427,228,199,16.1,9
17,"Farming, fishing, and forestry occupations",120,43,35,42,24,18,14.7,9.6
18,Construction and extraction occupations,862,274,303,285,151,134,16.4,9
19,"Installation, maintenance, and repair occupations",316,98,118,100,53,47,15.7,8.6
20,"Production, transportation, and material movin...",2076,602,763,711,414,297,16,9.7
21,Production occupations,747,238,267,242,141,101,15.6,9.1
22,Transportation and material moving occupations,1329,364,496,469,273,196,16.2,10
25,Agriculture and related industries,138,46,41,51,28,24,17,10.2
26,"Mining, quarrying, and oil and gas extraction",86,21,25,40,21,19,18.1,12.8
27,Construction,857,267,303,287,158,129,15.9,9.2
28,Manufacturing,1035,341,368,326,180,145,15.6,8.8
29,Durable goods,644,217,234,193,105,88,15.6,8.5
30,Nondurable goods,390,124,133,133,76,57,15.5,9.3
31,Wholesale and retail trade,1658,510,612,536,305,231,15.2,9.2
32,Transportation and utilities,726,190,264,272,159,113,16.7,10.4
33,Information,205,47,70,88,43,45,19.9,12.2
34,Financial activities,403,106,130,168,82,86,19.3,11.4
35,Professional and business services,1194,338,419,437,234,203,18,10
36,Education and health services,2004,593,802,609,353,256,15.4,8.9
37,Leisure and hospitality,2613,662,993,958,574,384,15.4,10.3
38,Other services,628,181,246,201,123,77,15,9.2
39,Public administration,211,69,65,76,42,35,17,8.9

In [10]:
industry_2022_df.drop(['10', '11', '14', '15', '17', '18', '19', '21', '22', '29', '30'])
industry_2022_df

KeyError: "['10', '11', '14', '15', '17', '18', '19', '21', '22', '29', '30'] not found in axis"

In [ ]:
industry_2022_clean = industry_2022_df.reset_index(drop=True)
industry_2021_clean = industry_2021_df.reset_index(drop=True)
industry_2020_clean = industry_2020_df.reset_index(drop=True)
industry_2019_clean = industry_2019_df.reset_index(drop=True)
industry_2018_clean = industry_2018_df.reset_index(drop=True)
industry_2019_clean.head()

In [ ]:
industry_2022_df.info()

In [ ]:
occupations_industries = industry_2022_df['Occupation and industry'].unique()
print(occupations_industries)