In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Create DataFrames
industry_unemployment_2022_df = pd.read_excel('Resources/CPS2022_industry_unemployment.xlsx', skiprows = [0,1,2])
industry_unemployment_2021_df = pd.read_excel('Resources/CPS2021_industry_unemployment.xlsx', skiprows = [0,1,2])
industry_unemployment_2020_df = pd.read_excel('Resources/CPS2020_industry_unemployment.xlsx', skiprows = [0,1,2])
industry_unemployment_2019_df = pd.read_excel('Resources/CPS2019_industry_unemployment.xlsx', skiprows = [0,1,2])
industry_unemployment_2018_df = pd.read_excel('Resources/CPS2018_industry_unemployment.xlsx', skiprows = [0,1,2])
industry_unemployment_2022_df.head(10)

,Occupation and industry,2022,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Unemployed,NaN,NaN,NaN,NaN,NaN,Weeks,NaN
1,NaN,Total,Less\nthan\n5 weeks,5 to 14\nweeks,15 weeks and over,NaN,NaN,Average\n(mean)\nduration,Median\nduration
2,NaN,NaN,NaN,NaN,Total,15 to 26\nweeks,27 weeks\nand over,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total unemployed(1),5996,2216,1711,2070,756,1314,22.6,8.7
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,No previous work experience,482,183,148,150,53,98,22.6,8.3
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,OCCUPATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Management, professional, and related occupations",1355,473,402,481,170,310,24.2,9

In [3]:
industry_unemployment_2022_df.columns

Index(['Occupation and industry',                      2022,
                    'Unnamed: 2',              'Unnamed: 3',
                    'Unnamed: 4',              'Unnamed: 5',
                    'Unnamed: 6',              'Unnamed: 7',
                    'Unnamed: 8'],
      dtype='object')

In [4]:
industry_unemployment_2022_df.rename(columns = {'Occupation and industry': "occupation_industry",
                                                2022: "total_unemployed",
                                                'Unnamed: 2': "less_than_five_wks",
                                                "Unnamed: 3": "five_to_forteen_wks",
                                                "Unnamed: 4": "total_fifteen_wks_and_over",
                                                "Unnamed: 5": "fifteen_to_twenty_six_wks",
                                                "Unnamed: 6": "twenty_seven_wks_and_over",
                                                "Unnamed: 7": "avg_duration_wks",
                                                "Unnamed: 8": "median_duration_wks"}, inplace=True)
industry_unemployment_2021_df.rename(columns = {'Occupation and industry': "occupation_industry",
                                                2021: "total_unemployed",
                                                'Unnamed: 2': "less_than_five_wks",
                                                "Unnamed: 3": "five_to_forteen_wks",
                                                "Unnamed: 4": "total_fifteen_wks_and_over",
                                                "Unnamed: 5": "fifteen_to_twenty_six_wks",
                                                "Unnamed: 6": "twenty_seven_wks_and_over",
                                                "Unnamed: 7": "avg_duration_wks",
                                                "Unnamed: 8": "median_duration_wks"}, inplace=True)
industry_unemployment_2020_df.rename(columns = {'Occupation and industry': "occupation_industry",
                                                2020: "total_unemployed",
                                                'Unnamed: 2': "less_than_five_wks",
                                                "Unnamed: 3": "five_to_forteen_wks",
                                                "Unnamed: 4": "total_fifteen_wks_and_over",
                                                "Unnamed: 5": "fifteen_to_twenty_six_wks",
                                                "Unnamed: 6": "twenty_seven_wks_and_over",
                                                "Unnamed: 7": "avg_duration_wks",
                                                "Unnamed: 8": "median_duration_wks"}, inplace=True)
industry_unemployment_2019_df.rename(columns = {'Occupation and industry': "occupation_industry",
                                                2019: "total_unemployed",
                                                'Unnamed: 2': "less_than_five_wks",
                                                "Unnamed: 3": "five_to_forteen_wks",
                                                "Unnamed: 4": "total_fifteen_wks_and_over",
                                                "Unnamed: 5": "fifteen_to_twenty_six_wks",
                                                "Unnamed: 6": "twenty_seven_wks_and_over",
                                                "Unnamed: 7": "avg_duration_wks",
                                                "Unnamed: 8": "median_duration_wks"}, inplace=True)
industry_unemployment_2018_df.rename(columns = {'Occupation and industry': "occupation_industry",
                                                '2018': "total_unemployed",
                                                'Unnamed: 2': "less_than_five_wks",
                                                "Unnamed: 3": "five_to_forteen_wks",
                                                "Unnamed: 4": "total_fifteen_wks_and_over",
                                                "Unnamed: 5": "fifteen_to_twenty_six_wks",
                                                "Unnamed: 6": "twenty_seven_wks_and_over",
                                                "Unnamed: 7": "avg_duration_wks",
                                                "Unnamed: 8": "median_duration_wks"}, inplace=True)
industry_unemployment_2018_df.head()

,occupation_industry,total_unemployed,less_than_five_wks,five_to_forteen_wks,total_fifteen_wks_and_over,fifteen_to_twenty_six_wks,twenty_seven_wks_and_over,avg_duration_wks,median_duration_wks
0,NaN,Unemployed,NaN,NaN,NaN,NaN,NaN,Weeks,NaN
1,NaN,Total,Less\nthan\n5 weeks,5 to 14\nweeks,15 weeks and over,NaN,NaN,Average\n(mean)\nduration,Median\nduration
2,NaN,NaN,NaN,NaN,Total,15 to 26\nweeks,27 weeks\nand over,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total unemployed(1),6314,2170,1876,2268,917,1350,22.7,9.3

In [5]:
industry_2022_df = industry_unemployment_2022_df.dropna()
industry_2021_df = industry_unemployment_2021_df.dropna()
industry_2020_df = industry_unemployment_2020_df.dropna()
industry_2019_df = industry_unemployment_2019_df.dropna()
industry_2018_df = industry_unemployment_2018_df.dropna()
industry_2020_df

,occupation_industry,total_unemployed,less_than_five_wks,five_to_forteen_wks,total_fifteen_wks_and_over,fifteen_to_twenty_six_wks,twenty_seven_wks_and_over,avg_duration_wks,median_duration_wks
4,Total unemployed(1),12947,3708,4728,4511,2516,1995,16.5,9.7
6,No previous work experience,526,161,166,198,80,118,24.2,10.2
9,"Management, professional, and related occupations",3029,837,1098,1094,602,493,17.1,10
10,"Management, business, and financial operations...",1149,312,377,460,244,216,18.1,10.9
11,Professional and related occupations,1880,525,720,634,357,277,16.5,9.6
12,Service occupations,3407,932,1292,1183,690,493,15.4,9.8
13,Sales and office occupations,2591,755,948,889,498,391,16.3,9.6
14,Sales and related occupations,1367,399,504,465,257,208,15.8,9.6
15,Office and administrative support occupations,1224,356,445,424,241,183,16.9,9.7
16,"Natural resources, construction, and maintenan...",1298,415,456,427,228,199,16.1,9
17,"Farming, fishing, and forestry occupations",120,43,35,42,24,18,14.7,9.6
18,Construction and extraction occupations,862,274,303,285,151,134,16.4,9
19,"Installation, maintenance, and repair occupations",316,98,118,100,53,47,15.7,8.6
20,"Production, transportation, and material movin...",2076,602,763,711,414,297,16,9.7
21,Production occupations,747,238,267,242,141,101,15.6,9.1
22,Transportation and material moving occupations,1329,364,496,469,273,196,16.2,10
25,Agriculture and related industries,138,46,41,51,28,24,17,10.2
26,"Mining, quarrying, and oil and gas extraction",86,21,25,40,21,19,18.1,12.8
27,Construction,857,267,303,287,158,129,15.9,9.2
28,Manufacturing,1035,341,368,326,180,145,15.6,8.8
29,Durable goods,644,217,234,193,105,88,15.6,8.5
30,Nondurable goods,390,124,133,133,76,57,15.5,9.3
31,Wholesale and retail trade,1658,510,612,536,305,231,15.2,9.2
32,Transportation and utilities,726,190,264,272,159,113,16.7,10.4
33,Information,205,47,70,88,43,45,19.9,12.2
34,Financial activities,403,106,130,168,82,86,19.3,11.4
35,Professional and business services,1194,338,419,437,234,203,18,10
36,Education and health services,2004,593,802,609,353,256,15.4,8.9
37,Leisure and hospitality,2613,662,993,958,574,384,15.4,10.3
38,Other services,628,181,246,201,123,77,15,9.2
39,Public administration,211,69,65,76,42,35,17,8.9

In [6]:
industry_2022_clean = industry_2022_df.reset_index(drop=True)
industry_2021_clean = industry_2021_df.reset_index(drop=True)
industry_2020_clean = industry_2020_df.reset_index(drop=True)
industry_2019_clean = industry_2019_df.reset_index(drop=True)
industry_2018_clean = industry_2018_df.reset_index(drop=True)
industry_2019_clean.head()

,occupation_industry,total_unemployed,less_than_five_wks,five_to_forteen_wks,total_fifteen_wks_and_over,fifteen_to_twenty_six_wks,twenty_seven_wks_and_over,avg_duration_wks,median_duration_wks
0,Total unemployed(1),6001,2086,1789,2126,860,1266,21.6,9.1
1,No previous work experience,591,196,182,214,81,132,24.8,9.4
2,"Management, professional, and related occupations",1310,436,388,487,181,306,22.6,9.5
3,"Management, business, and financial operations...",499,153,138,209,77,132,23,11.1
4,Professional and related occupations,811,283,250,278,104,174,22.4,8.8

In [7]:
industry_2022_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   occupation_industry         31 non-null     object
 1   total_unemployed            31 non-null     object
 2   less_than_five_wks          31 non-null     object
 3   five_to_forteen_wks         31 non-null     object
 4   total_fifteen_wks_and_over  31 non-null     object
 5   fifteen_to_twenty_six_wks   31 non-null     object
 6   twenty_seven_wks_and_over   31 non-null     object
 7   avg_duration_wks            31 non-null     object
 8   median_duration_wks         31 non-null     object
dtypes: object(9)
memory usage: 2.3+ KB

In [8]:
industry_2022_clean[['total_unemployed','less_than_five_wks', 'five_to_forteen_wks', 'total_fifteen_wks_and_over', 'fifteen_to_twenty_six_wks', 
                     'twenty_seven_wks_and_over']] = industry_2022_clean[['total_unemployed','less_than_five_wks', 'five_to_forteen_wks', 
                                                                          'total_fifteen_wks_and_over','fifteen_to_twenty_six_wks', 
                                                                          'twenty_seven_wks_and_over']].astype(str).astype(int)
industry_2022_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   occupation_industry         31 non-null     object
 1   total_unemployed            31 non-null     int32
 2   less_than_five_wks          31 non-null     int32
 3   five_to_forteen_wks         31 non-null     int32
 4   total_fifteen_wks_and_over  31 non-null     int32
 5   fifteen_to_twenty_six_wks   31 non-null     int32
 6   twenty_seven_wks_and_over   31 non-null     int32
 7   avg_duration_wks            31 non-null     object
 8   median_duration_wks         31 non-null     object
dtypes: int32(6), object(3)
memory usage: 1.6+ KB

In [9]:
industry_2021_clean[['total_unemployed','less_than_five_wks', 'five_to_forteen_wks', 'total_fifteen_wks_and_over', 'fifteen_to_twenty_six_wks', 
                     'twenty_seven_wks_and_over']] = industry_2021_clean[['total_unemployed','less_than_five_wks', 'five_to_forteen_wks', 
                                                                          'total_fifteen_wks_and_over','fifteen_to_twenty_six_wks', 
                                                                          'twenty_seven_wks_and_over']].astype(str).astype(int)
industry_2021_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   occupation_industry         31 non-null     object
 1   total_unemployed            31 non-null     int32
 2   less_than_five_wks          31 non-null     int32
 3   five_to_forteen_wks         31 non-null     int32
 4   total_fifteen_wks_and_over  31 non-null     int32
 5   fifteen_to_twenty_six_wks   31 non-null     int32
 6   twenty_seven_wks_and_over   31 non-null     int32
 7   avg_duration_wks            31 non-null     object
 8   median_duration_wks         31 non-null     object
dtypes: int32(6), object(3)
memory usage: 1.6+ KB

In [10]:
industry_2020_clean[['total_unemployed','less_than_five_wks', 'five_to_forteen_wks', 'total_fifteen_wks_and_over', 'fifteen_to_twenty_six_wks', 
                     'twenty_seven_wks_and_over']] = industry_2020_clean[['total_unemployed','less_than_five_wks', 'five_to_forteen_wks', 
                                                                          'total_fifteen_wks_and_over','fifteen_to_twenty_six_wks', 
                                                                          'twenty_seven_wks_and_over']].astype(str).astype(int)
industry_2020_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   occupation_industry         31 non-null     object
 1   total_unemployed            31 non-null     int32
 2   less_than_five_wks          31 non-null     int32
 3   five_to_forteen_wks         31 non-null     int32
 4   total_fifteen_wks_and_over  31 non-null     int32
 5   fifteen_to_twenty_six_wks   31 non-null     int32
 6   twenty_seven_wks_and_over   31 non-null     int32
 7   avg_duration_wks            31 non-null     object
 8   median_duration_wks         31 non-null     object
dtypes: int32(6), object(3)
memory usage: 1.6+ KB

In [11]:
industry_2019_clean[['total_unemployed','less_than_five_wks', 'five_to_forteen_wks', 'total_fifteen_wks_and_over', 'fifteen_to_twenty_six_wks', 
                     'twenty_seven_wks_and_over']] = industry_2019_clean[['total_unemployed','less_than_five_wks', 'five_to_forteen_wks', 
                                                                          'total_fifteen_wks_and_over','fifteen_to_twenty_six_wks', 
                                                                          'twenty_seven_wks_and_over']].astype(str).astype(int)
industry_2019_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   occupation_industry         31 non-null     object
 1   total_unemployed            31 non-null     int32
 2   less_than_five_wks          31 non-null     int32
 3   five_to_forteen_wks         31 non-null     int32
 4   total_fifteen_wks_and_over  31 non-null     int32
 5   fifteen_to_twenty_six_wks   31 non-null     int32
 6   twenty_seven_wks_and_over   31 non-null     int32
 7   avg_duration_wks            31 non-null     object
 8   median_duration_wks         31 non-null     object
dtypes: int32(6), object(3)
memory usage: 1.6+ KB

In [12]:
industry_2018_clean[['total_unemployed','less_than_five_wks', 'five_to_forteen_wks', 'total_fifteen_wks_and_over', 'fifteen_to_twenty_six_wks', 
                     'twenty_seven_wks_and_over']] = industry_2018_clean[['total_unemployed','less_than_five_wks', 'five_to_forteen_wks', 
                                                                          'total_fifteen_wks_and_over','fifteen_to_twenty_six_wks', 
                                                                          'twenty_seven_wks_and_over']].astype(str).astype(int)
industry_2018_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   occupation_industry         31 non-null     object
 1   total_unemployed            31 non-null     int32
 2   less_than_five_wks          31 non-null     int32
 3   five_to_forteen_wks         31 non-null     int32
 4   total_fifteen_wks_and_over  31 non-null     int32
 5   fifteen_to_twenty_six_wks   31 non-null     int32
 6   twenty_seven_wks_and_over   31 non-null     int32
 7   avg_duration_wks            31 non-null     object
 8   median_duration_wks         31 non-null     object
dtypes: int32(6), object(3)
memory usage: 1.6+ KB

In [14]:
occupations_industries = industry_2022_clean['occupation_industry'].unique()
print(occupations_industries)

['Total unemployed(1)' 'No previous work experience'
 'Management, professional, and related occupations'
 'Management, business, and financial operations occupations'
 'Professional and related occupations' 'Service occupations'
 'Sales and office occupations' 'Sales and related occupations'
 'Office and administrative support occupations'
 'Natural resources, construction, and maintenance occupations'
 'Farming, fishing, and forestry occupations'
 'Construction and extraction occupations'
 'Installation, maintenance, and repair occupations'
 'Production, transportation, and material moving occupations'
 'Production occupations' 'Transportation and material moving occupations'
 'Agriculture and related industries'
 'Mining, quarrying, and oil and gas extraction' 'Construction'
 'Manufacturing' 'Durable goods' 'Nondurable goods'
 'Wholesale and retail trade' 'Transportation and utilities' 'Information'
 'Financial activities' 'Professional and business services'
 'Education and health services' 'Leisure and hospitality'
 'Other services' 'Public administration']

In [15]:
print(len(occupations_industries))

31

In [16]:
occupation_ids = np.arange(1, 32)
print(occupation_ids)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]

In [17]:
occ_ids = ["occ_" + str(occ_id) for occ_id in occupation_ids]
print(occ_ids)

['occ_1', 'occ_2', 'occ_3', 'occ_4', 'occ_5', 'occ_6', 'occ_7', 'occ_8', 'occ_9', 'occ_10', 'occ_11', 'occ_12', 'occ_13', 'occ_14', 'occ_15', 'occ_16', 'occ_17', 'occ_18', 'occ_19', 'occ_20', 'occ_21', 'occ_22', 'occ_23', 'occ_24', 'occ_25', 'occ_26', 'occ_27', 'occ_28', 'occ_29', 'occ_30', 'occ_31']

In [18]:
occupation_df = pd.DataFrame({
    "occupation_id": occ_ids,
    "occupation_industry": occupations_industries
})
occupation_df

   occupation_id                                occupation_industry
0          occ_1                                Total unemployed(1)
1          occ_2                        No previous work experience
2          occ_3  Management, professional, and related occupations
3          occ_4  Management, business, and financial operations...
4          occ_5               Professional and related occupations
5          occ_6                                Service occupations
6          occ_7                       Sales and office occupations
7          occ_8                      Sales and related occupations
8          occ_9      Office and administrative support occupations
9         occ_10  Natural resources, construction, and maintenan...
10        occ_11         Farming, fishing, and forestry occupations
11        occ_12            Construction and extraction occupations
12        occ_13  Installation, maintenance, and repair occupations
13        occ_14  Production, transportation, and material movin...
14        occ_15                             Production occupations
15        occ_16     Transportation and material moving occupations
16        occ_17                 Agriculture and related industries
17        occ_18      Mining, quarrying, and oil and gas extraction
18        occ_19                                       Construction
19        occ_20                                      Manufacturing
20        occ_21                                      Durable goods
21        occ_22                                   Nondurable goods
22        occ_23                         Wholesale and retail trade
23        occ_24                       Transportation and utilities
24        occ_25                                        Information
25        occ_26                               Financial activities
26        occ_27                 Professional and business services
27        occ_28                      Education and health services
28        occ_29                            Leisure and hospitality
29        occ_30                                     Other services
30        occ_31                              Public administration

In [19]:
occupation_df.to_csv("Resources/occupations_industries.csv", index=False)

In [20]:
merged_2022_df = industry_2022_clean.merge(occupation_df, on= 'occupation_industry', how= 'left')
merged_2022_df

,occupation_industry,total_unemployed,less_than_five_wks,five_to_forteen_wks,total_fifteen_wks_and_over,fifteen_to_twenty_six_wks,twenty_seven_wks_and_over,avg_duration_wks,median_duration_wks,occupation_id
0,Total unemployed(1),5996,2216,1711,2070,756,1314,22.6,8.7,occ_1
1,No previous work experience,482,183,148,150,53,98,22.6,8.3,occ_2
2,"Management, professional, and related occupations",1355,473,402,481,170,310,24.2,9,occ_3
3,"Management, business, and financial operations...",530,170,159,201,74,128,25.9,9.9,occ_4
4,Professional and related occupations,825,303,243,279,97,183,23.2,8.4,occ_5
5,Service occupations,1281,487,346,447,157,290,22.3,8.4,occ_6
6,Sales and office occupations,1176,412,342,423,171,252,22.2,9.3,occ_7
7,Sales and related occupations,579,211,163,205,82,123,22,9,occ_8
8,Office and administrative support occupations,598,200,179,218,89,129,22.4,9.4,occ_9
9,"Natural resources, construction, and maintenan...",658,277,176,205,73,132,19.9,7.3,occ_10
10,"Farming, fishing, and forestry occupations",71,28,22,20,9,11,17.7,7.6,occ_11
11,Construction and extraction occupations,477,206,126,144,52,93,19.6,6.8,occ_12
12,"Installation, maintenance, and repair occupations",110,43,27,40,12,28,22.6,9,occ_13
13,"Production, transportation, and material movin...",1027,379,292,356,130,226,23.1,8.7,occ_14
14,Production occupations,332,127,92,112,41,72,22.8,8.6,occ_15
15,Transportation and material moving occupations,695,252,200,243,89,154,23.3,8.8,occ_16
16,Agriculture and related industries,89,31,29,28,13,16,18.4,8.7,occ_17
17,"Mining, quarrying, and oil and gas extraction",18,5,4,9,3,6,,,occ_18
18,Construction,474,203,129,142,49,92,19.3,7,occ_19
19,Manufacturing,459,162,125,172,68,104,24,9.6,occ_20
20,Durable goods,283,96,79,108,42,66,25.8,9.8,occ_21
21,Nondurable goods,177,66,47,64,26,38,21.1,9.3,occ_22
22,Wholesale and retail trade,806,279,232,295,118,177,22.7,9.2,occ_23
23,Transportation and utilities,371,135,108,128,48,80,22.3,8.9,occ_24
24,Information,81,26,25,30,11,19,23.7,9.7,occ_25
25,Financial activities,206,68,61,76,29,47,24.7,9.9,occ_26
26,Professional and business services,683,238,212,234,84,149,22.5,9,occ_27
27,Education and health services,866,323,254,288,103,185,21.6,8.3,occ_28
28,Leisure and hospitality,789,317,221,251,94,157,20.8,7.7,occ_29
29,Other services,203,74,49,80,28,52,25.6,9.8,occ_30
30,Public administration,127,40,36,50,16,34,23.9,9.8,occ_31

In [21]:
cleaned_2022_df = merged_2022_df.drop(['occupation_industry'], axis=1)
cleaned_2022_df.head()

,total_unemployed,less_than_five_wks,five_to_forteen_wks,total_fifteen_wks_and_over,fifteen_to_twenty_six_wks,twenty_seven_wks_and_over,avg_duration_wks,median_duration_wks,occupation_id
0,5996,2216,1711,2070,756,1314,22.6,8.7,occ_1
1,482,183,148,150,53,98,22.6,8.3,occ_2
2,1355,473,402,481,170,310,24.2,9,occ_3
3,530,170,159,201,74,128,25.9,9.9,occ_4
4,825,303,243,279,97,183,23.2,8.4,occ_5

In [22]:
cols = cleaned_2022_df.columns.tolist()
cols

['total_unemployed', 'less_than_five_wks', 'five_to_forteen_wks', 'total_fifteen_wks_and_over', 'fifteen_to_twenty_six_wks', 'twenty_seven_wks_and_over', 'avg_duration_wks', 'median_duration_wks', 'occupation_id']

In [23]:
cols = cols[-1:] + cols[:-1]
cols

['occupation_id',
 'total_unemployed',
 'less_than_five_wks',
 'five_to_forteen_wks',
 'total_fifteen_wks_and_over',
 'fifteen_to_twenty_six_wks',
 'twenty_seven_wks_and_over',
 'avg_duration_wks',
 'median_duration_wks']

In [24]:
cleaned_2022_df = cleaned_2022_df[cols]
cleaned_2022_df.head()

,occupation_id,total_unemployed,less_than_five_wks,five_to_forteen_wks,total_fifteen_wks_and_over,fifteen_to_twenty_six_wks,twenty_seven_wks_and_over,avg_duration_wks,median_duration_wks
0,occ_1,5996,2216,1711,2070,756,1314,22.6,8.7
1,occ_2,482,183,148,150,53,98,22.6,8.3
2,occ_3,1355,473,402,481,170,310,24.2,9
3,occ_4,530,170,159,201,74,128,25.9,9.9
4,occ_5,825,303,243,279,97,183,23.2,8.4