In [24]:
import os
import psycopg2
from flask import Flask, render_template
import pandas as pd
app = Flask(__name__)

In [25]:
conn = psycopg2.connect(database="flask_df", user="flask_df_user", password="DF4LP1UcZJt3AN4cUW9hrbfp2p4FtWL3", host="dpg-cgtiqjl269vbmeuj26cg-a.oregon-postgres.render.com", port="5432")

# Open a cursor to perform database operations
cur = conn.cursor()

In [26]:
#cur.execute('DROP TABLE IF EXISTS unemployed;')

In [27]:
# Execute a command: this creates a new table
#cur.execute('CREATE TABLE unemployed (industry varchar PRIMARY KEY,'
                                 'unemployed14 integer NOT NULL,'
                                 'unemployed15 integer NOT NULL,'
                                 'unemployed16 integer NOT NULL,'
                                 'unemployed17 integer NOT NULL,'
                                 'unemployed18 integer NOT NULL,'
                                 'unemployed19 integer NOT NULL,'
                                 'unemployed20 integer NOT NULL,'
                                 'unemployed21 integer NOT NULL);'
                                 )

In [85]:
# Insert data into the table

#cur.execute('INSERT INTO books (industry, author, pages_num, review)'
            'VALUES (%s, %s, %s, %s)',
            ('A Tale of Two Cities',
             'Charles Dickens',
             489,
             'A great classic!')
            )


#cur.execute('INSERT INTO books (title, author, pages_num, review)'
            'VALUES (%s, %s, %s, %s)',
            ('Anna Karenina',
             'Leo Tolstoy',
             864,
             'Another great classic!')
            )

In [28]:
conn.commit()

In [29]:
cur.close()
conn.close()

In [30]:
conn =psycopg2.connect(database="flask_df", user="flask_df_user", password="DF4LP1UcZJt3AN4cUW9hrbfp2p4FtWL3", host="dpg-cgtiqjl269vbmeuj26cg-a.oregon-postgres.render.com", port="5432")
cur = conn.cursor()
cur.execute('SELECT * FROM unemployed;')
book = cur.fetchall()
book_df = pd.DataFrame(book, columns = ["industry", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"])

#book_df.select_dtypes(exclude=['object']) * 1000

book_df[book_df.select_dtypes(include=['number']).columns] *= 1000
book_df
    #books[0][5].strftime("%Y-%m-%d")
    #books_df = pd.DataFrame([books])
    #book_df = pd.DataFrame([books], columns = ["Index", "Title"])#, "Author", "Page Count", "Quote", "Date"]
cur.close()
conn.close()

,industry,2014,2015,2016,2017,2018,2019,2020,2021
0,Construction,762000,624000,558000,559000,494000,435000,838000,640000
1,Manufacturing,754000,677000,667000,563000,517000,468000,1026000,642000
2,Durable goods,454000,410000,412000,360000,295000,274000,638000,387000
3,Nonmetallic mineral products,16000,17000,20000,19000,15000,21000,18000,25000
4,Primary metals and fabricated metal products,68000,74000,67000,61000,46000,43000,111000,56000
...,...,...,...,...,...,...,...,...,...
60,Private households,88000,80000,67000,44000,39000,46000,97000,68000
61,Agricultural and related private wage and sala...,146000,155000,139000,122000,124000,129000,135000,121000
62,Government workers,678000,573000,582000,527000,505000,496000,1045000,571000
63,"Self-employed workers, unincorporated, and unp...",440000,389000,383000,319000,285000,263000,643000,524000
64,No previous work experience,1086000,879000,823000,690000,602000,591000,526000,518000

In [23]:
@app.route('/')
def index():
    conn =psycopg2.connect(database="flask_df", user="flask_df_user", password="DF4LP1UcZJt3AN4cUW9hrbfp2p4FtWL3", host="dpg-cgtiqjl269vbmeuj26cg-a.oregon-postgres.render.com", port="5432")
    cur = conn.cursor()
    cur.execute('SELECT * FROM unemployed;')
    books = cur.fetchall()
    cur.close()
    conn.close()
    return str(books)

AssertionError: View function mapping is overwriting an existing endpoint function: index

In [6]:
if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with stat

SystemExit: 1

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [7]:
%tb

SystemExit: 1