In [28]:
import psycopg2
import pandas as pd
from flask import Flask#,render_template

In [30]:
#app = Flask(__name__)
con = psycopg2.connect(database="Movie_Rentals", user="postgres", password="postgres", host="127.0.0.1", port="5432")##
df = pd.read_sql('select * from actor', con = con)
df
#cursor = con.cursor()

     actor_id first_name     last_name               last_update
0           1   PENELOPE       GUINESS 2017-02-15 14:34:33+00:00
1           2       NICK      WAHLBERG 2017-02-15 14:34:33+00:00
2           3         ED         CHASE 2017-02-15 14:34:33+00:00
3           4   JENNIFER         DAVIS 2017-02-15 14:34:33+00:00
4           5     JOHNNY  LOLLOBRIGIDA 2017-02-15 14:34:33+00:00
..        ...        ...           ...                       ...
195       196       BELA        WALKEN 2017-02-15 14:34:33+00:00
196       197      REESE          WEST 2017-02-15 14:34:33+00:00
197       198       MARY        KEITEL 2017-02-15 14:34:33+00:00
198       199      JULIA       FAWCETT 2017-02-15 14:34:33+00:00
199       200      THORA        TEMPLE 2017-02-15 14:34:33+00:00

[200 rows x 4 columns]

In [27]:
##@app.route('/')##, methods =['post', 'get']
#def testing():
cursor.execute("select * from actor")
result = cursor.fetchall()

#return str(result)
    
    ##return render_template("testing.csv", data=result)
#testing()
result

[(1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (8,
  'MATTHEW',
  'JOHANSSON',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (9,
  'JOE',
  'SWANK',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (10,
  'CHRISTIAN',
  'GABLE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (11,
  'ZERO',
  'CAGE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (12,
  'KARL',
  'BERRY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (13,
  'UMA',
  'WOOD',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (14,
  'VIVIEN',
  'BERGEN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (15,
  'CUBA',
  'OLIVIER',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (16,
  'FRED',
  'COSTNER',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (17,
  'HELEN',
  'VOIGHT',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (18,
  'DAN',
  'TORN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (19,
  'BOB',
  'FAWCETT',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (20,
  'LUCILLE',
  'TRACY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (21,
  'KIRSTEN',
  'PALTROW',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (22,
  'ELVIS',
  'MARX',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (23,
  'SANDRA',
  'KILMER',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (24,
  'CAMERON',
  'STREEP',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (25,
  'KEVIN',
  'BLOOM',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (26,
  'RIP',
  'CRAWFORD',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (27,
  'JULIA',
  'MCQUEEN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (28,
  'WOODY',
  'HOFFMAN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (29,
  'ALEC',
  'WAYNE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (30,
  'SANDRA',
  'PECK',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (31,
  'SISSY',
  'SOBIESKI',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (32,
  'TIM',
  'HACKMAN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (33,
  'MILLA',
  'PECK',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (34,
  'AUDREY',
  'OLIVIER',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (35,
  'JUDY',
  'DEAN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (36,
  'BURT',
  'DUKAKIS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (37,
  'VAL',
  'BOLGER',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (38,
  'TOM',
  'MCKELLEN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (39,
  'GOLDIE',
  'BRODY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (40,
  'JOHNNY',
  'CAGE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (41,
  'JODIE',
  'DEGENERES',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (42,
  'TOM',
  'MIRANDA',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (43,
  'KIRK',
  'JOVOVICH',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (44,
  'NICK',
  'STALLONE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (45,
  'REESE',
  'KILMER',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (46,
  'PARKER',
  'GOLDBERG',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (47,
  'JULIA',
  'BARRYMORE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (48,
  'FRANCES',
  'DAY-LEWIS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (49,
  'ANNE',
  'CRONYN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (50,
  'NATALIE',
  'HOPKINS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (51,
  'GARY',
  'PHOENIX',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (52,
  'CARMEN',
  'HUNT',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (53,
  'MENA',
  'TEMPLE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (54,
  'PENELOPE',
  'PINKETT',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (55,
  'FAY',
  'KILMER',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (56,
  'DAN',
  'HARRIS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (57,
  'JUDE',
  'CRUISE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (58,
  'CHRISTIAN',
  'AKROYD',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (59,
  'DUSTIN',
  'TAUTOU',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (60,
  'HENRY',
  'BERRY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (61,
  'CHRISTIAN',
  'NEESON',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (62,
  'JAYNE',
  'NEESON',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (63,
  'CAMERON',
  'WRAY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (64,
  'RAY',
  'JOHANSSON',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (65,
  'ANGELA',
  'HUDSON',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (66,
  'MARY',
  'TANDY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (67,
  'JESSICA',
  'BAILEY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (68,
  'RIP',
  'WINSLET',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (69,
  'KENNETH',
  'PALTROW',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (70,
  'MICHELLE',
  'MCCONAUGHEY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (71,
  'ADAM',
  'GRANT',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (72,
  'SEAN',
  'WILLIAMS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (73,
  'GARY',
  'PENN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (74,
  'MILLA',
  'KEITEL',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (75,
  'BURT',
  'POSEY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (76,
  'ANGELINA',
  'ASTAIRE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (77,
  'CARY',
  'MCCONAUGHEY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (78,
  'GROUCHO',
  'SINATRA',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (79,
  'MAE',
  'HOFFMAN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (80,
  'RALPH',
  'CRUZ',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (81,
  'SCARLETT',
  'DAMON',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (82,
  'WOODY',
  'JOLIE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (83,
  'BEN',
  'WILLIS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (84,
  'JAMES',
  'PITT',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (85,
  'MINNIE',
  'ZELLWEGER',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (86,
  'GREG',
  'CHAPLIN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (87,
  'SPENCER',
  'PECK',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (88,
  'KENNETH',
  'PESCI',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (89,
  'CHARLIZE',
  'DENCH',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (90,
  'SEAN',
  'GUINESS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (91,
  'CHRISTOPHER',
  'BERRY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (92,
  'KIRSTEN',
  'AKROYD',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (93,
  'ELLEN',
  'PRESLEY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (94,
  'KENNETH',
  'TORN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (95,
  'DARYL',
  'WAHLBERG',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (96,
  'GENE',
  'WILLIS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (97,
  'MEG',
  'HAWKE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (98,
  'CHRIS',
  'BRIDGES',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (99,
  'JIM',
  'MOSTEL',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (100,
  'SPENCER',
  'DEPP',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (101,
  'SUSAN',
  'DAVIS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (102,
  'WALTER',
  'TORN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (103,
  'MATTHEW',
  'LEIGH',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (104,
  'PENELOPE',
  'CRONYN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (105,
  'SIDNEY',
  'CROWE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (106,
  'GROUCHO',
  'DUNST',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (107,
  'GINA',
  'DEGENERES',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (108,
  'WARREN',
  'NOLTE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (109,
  'SYLVESTER',
  'DERN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (110,
  'SUSAN',
  'DAVIS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (111,
  'CAMERON',
  'ZELLWEGER',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (112,
  'RUSSELL',
  'BACALL',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (113,
  'MORGAN',
  'HOPKINS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (114,
  'MORGAN',
  'MCDORMAND',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (115,
  'HARRISON',
  'BALE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (116,
  'DAN',
  'STREEP',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (117,
  'RENEE',
  'TRACY',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (118,
  'CUBA',
  'ALLEN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (119,
  'WARREN',
  'JACKMAN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (120,
  'PENELOPE',
  'MONROE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (121,
  'LIZA',
  'BERGMAN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (122,
  'SALMA',
  'NOLTE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (123,
  'JULIANNE',
  'DENCH',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (124,
  'SCARLETT',
  'BENING',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (125,
  'ALBERT',
  'NOLTE',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (126,
  'FRANCES',
  'TOMEI',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (127,
  'KEVIN',
  'GARLAND',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (128,
  'CATE',
  'MCQUEEN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (129,
  'DARYL',
  'CRAWFORD',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (130,
  'GRETA',
  'KEITEL',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (131,
  'JANE',
  'JACKMAN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (132,
  'ADAM',
  'HOPPER',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (133,
  'RICHARD',
  'PENN',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (134,
  'GENE',
  'HOPKINS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (135,
  'RITA',
  'REYNOLDS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (136,
  'ED',
  'MANSFIELD',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (137,
  'MORGAN',
  'WILLIAMS',
  datetime.datetime(2017, 2, 15, 9, 34, 33, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))),
 (138,
  'LUCILLE',

In [25]:
acting = []

for i in range(len(result)):
    add = result[i]
    acting.append(acting)
acting

[[...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...]]

In [4]:
if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with stat

SystemExit: 1

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)